{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1>Woolly Wishes</h1>
<p> Step into our wool paradise! Immerse yourself in a realm where wool aficionados discover their match. Delve into an array of wool varieties sourced from animals each boasting its own distinctive traits and backgrounds. Whether you crave the embrace of sheeps wool, the softness of alpaca or the refined charm of cashmere we offer something to cater to every taste. Explore our curated range of clothing pieces expertly fashioned from premium wool available, in a spectrum of hues to complement your personal flair. Uncover the allure, adaptability and eco friendliness of wool at your fingertips.</p>
{% endblock %}